In [3]:
x=["john", "james", "kate", True, 10.55, 34]
print(x)

['john', 'james', 'kate', True, 10.55, 34]

In [4]:
len(x)

6

In [6]:
x.index(34)

5

In [23]:
x[0]

'john'

In [8]:
##slicing
x[0:4]

['john', 'james', 'kate', True]

In [9]:
x[:-3]

['john', 'james', 'kate']

In [10]:
x[3:]

[True, 10.55, 34]

In [11]:
for i in x:
    print(i)

john
james
kate
True
10.55
34

In [17]:
for i in range(0, len(x)):
    print(x[i])

john
james
kate
True
10.55
34

In [16]:
array = []
for i in range(0, len(x)):
    array.append(x[i])
print(array)

['john', 'james', 'kate', True, 10.55, 34]

In [22]:
type(x[2])

str

In [24]:
print(x)

['john', 'james', 'kate', True, 10.55, 34]

In [27]:
for i in x:
    if type(i) == str or type(i) == bool:
        pass
    else:
        print(i)

10.55
34

In [30]:
for i in x:
    if type(i) != str and type(i) != bool:
        print(i)

10.55
34

In [35]:
p = ["jude", "philip", "reginald", "caleb", "jake", "chowah"]
even_names = []
odd_names = []
for i in p:
    if len(i)%2 == 0:
        even_names.append(i)
    else:
        odd_names.append(i)
print(even_names)

['jude', 'philip', 'reginald', 'jake', 'chowah']

In [36]:
p = ["jude", "philip", "reginald", "caleb", "jake", "chowah"]
even_names = []
odd_names = []
for i in p:
    if len(i)/2 == 0:
        even_names.append(i)
    else:
        odd_names.append(i)
print(even_names)

[]

In [48]:
upper_names = []
names = ["ben", "tope", "abel"]
for i in range(0, len(names)):
    names_val = names[i][0].upper() + names[i][1:]
    upper_names.append(names_val)
print(upper_names)

['Ben', 'Tope', 'Abel']

In [46]:
names[0][1:]

'en'

In [52]:
x = "nani"
p = ["jake", 12]
len(p)
x.upper()

'NANI'

In [55]:
p = ["jane"]
b = ['tobi']

p.append(b[0])
print(p)

['jane', 'tobi']

In [71]:
input_value = input("enter_value: ")
array = ["john", "timothy", 10, 33, "jude", "beauty"]
new_arry = []
for i in array:
    b = str(i)
    new_arry.append(b)
f_ans = new_arry[new_arry.index(input_value)+1:]
print(f_ans)

enter_value: beauty
[]

In [74]:
input_value = input("enter_value: ")
array = ["john", "timothy", 10, 33, "jude", "beauty"]
new_arry = []
for i in array:
    b = str(i)
    new_arry.append(b)
f_ans = new_arry[:new_arry.index(input_value)]
f_ans.reverse()
print(f_ans)

enter_value: jude
['33', '10', 'timothy', 'john']

In [75]:
array = ["john", "timothy", 10, 33, "jude", "beauty"]
##########################################################
input_value = input("enter_value: ")
pick_from = input("enter left or right: ").lower()
new_arry = []
for i in array:
    b = str(i)
    new_arry.append(b)
    
if pick_from == "l":
    f_ans = new_arry[:new_arry.index(input_value)]
    f_ans.reverse()
    print(f_ans)
else:
    f_ans = new_arry[new_arry.index(input_value)+1:]
    print(f_ans)

enter_value: timothy
enter left or right: r
['10', '33', 'jude', 'beauty']

formular =  temperature_value + 273
only values less than 100

In [80]:
all_temperatures = []
second_arrays = []
temperature_value = [102, 67, 44, 190, 56, 27, 101, 68]
for i in temperature_value:
    if i < 100:
        temp = i + 273
        a = f"{temp}k"
        all_temperatures.append(a)
    else:
        b = f"{i}c"
        second_arrays.append(b)
print(all_temperatures)
print(second_arrays)

['340k', '317k', '329k', '300k', '341k']
['102c', '190c', '101c']

In [85]:
a = [5, 10, 15, 20]
b = [10, 20,30 , 40, 30]
diff_arry = []

if len(a) == len(b):
    for i in range(0, len(a)):
        diff = a[i] - b[i]
        diff_arry.append(diff)
else:
    print(False)
    
print(diff_arry)

False
[]